body{
    background-color: rgb(10, 10, 10);
    font-family: sans-serif;
}
#table{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#table table{
    border-collapse: collapse;
    background-color: rgb(10, 10, 10);
}

#table td{
    padding: 10px;
}

#table tr td h5{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(240, 240, 240);
    font-size: 20px;
}

#table tr td img{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
}

#table tr:hover{
    background-color: rgb(54, 54, 54);
}

.middleButtons{
    padding-top: 20px;
    text-align: center;
}
.middleButtons button{
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.middleButtons #refresh{
    background-color: dodgerblue;
    border: 3px solid dodgerblue;
    font-weight: bold;
}

.middleButtons #refresh:hover{
    background-color: darkblue;
    color: rgb(240, 240, 240);
}

.middleButtons #addContact{
    background-color: chartreuse;
    border: 3px solid chartreuse;
    font-weight: bold;
}

.middleButtons #addContact:hover{
    background-color: darkgreen;
    color: rgb(240, 240, 240);
}

.middleButtons #homeLink{
    font-weight: bold;
}

.middleButtons #editContact{
    background-color: dodgerblue;
    border: 3px solid dodgerblue;
    font-weight: bold;
}

.middleButtons #editContact:hover{
    background-color: darkblue;
    color: rgb(240, 240, 240);
}

.middleButtons #deleteContact{
    background-color: crimson;
    border: 3px solid crimson;
    font-weight: bold;
}

.middleButtons #deleteContact:hover{
    background-color: darkred;
    color: rgb(240, 240, 240);
}

#title{
    color: rgb(240, 240, 240);
    font-weight: bold;
    text-align: center;
    font-family: serif;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.form *{
    max-width: 100%;
}

#editForm {
    padding: 20px;
    border-radius: 5px;
}

#editForm *{
    margin-bottom: 20px;
}

#editForm button{
    font-size: 20px;
    text-align: center;
}

#editForm input{
    font-size: 20px;
    padding: 5px;
}

#editForm label{
    color: rgb(240, 240, 240);
}

#editForm input[type="file"]{
    color: rgb(240, 240, 240);
}

#submitForm{
    background-color: chartreuse;
    border: 3px solid chartreuse;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}

#submitForm:hover{
    background-color: darkgreen;
    color: rgb(240, 240, 240);
}

.apiKey{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.apiKey input{
    font-size: 15px;
    padding: 10px;
}

.apiKey button{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: chartreuse;
    border: 3px solid chartreuse;
    border-radius: 5px;
}

.apiKey button:hover{
    background-color: darkgreen;
    color: rgb(240, 240, 240);
}